body{
    margin: 10px 1600px 0px 50px;
}

a{
	text-decoration: none;
    color: #000000;
}


.board_container{
    border-top:2px solid #10108f;
    
}

.board_container{
    position: relative;
    top: 7rem;
    width: 1200px;
    left :200px;
    height: 1000px;
    background-color: #ffffff;
}
.regdate{
    position: relative;
    left:1%;
    display: inline;
}
.pass_box{
    position: relative;
    left:2%;
    display: inline;
}

.cnt{
    display: inline;
    position:relative;
    left:650px;
}


.board_top{
    border-bottom:1px solid #808080;
}


.bp_title{  
    margin: 15px 25px 15px 0px;
    top: 4rem;
    width:600px;
    height: 25px; 
    font-size: 20px;
    
}

.id{
    width:200px;
    font-size: 15;
    display: inline;
}


.board_middle_box{
    margin-top: 1rem;
    top: 1rem;
    
}

.board_bottom_box{
    display: flex;
}
.cancel{
    position: relative;
    left: 1000px;
}
.post{
    position: relative;
    left: 1010px;
}
input[id="post"]{
    cursor:pointer;
    color:white;
    display:block;
    background-color: #10108f;
    border:0px solid #10108f;
    font-size: 20;
}

input[id="cancel"]{
    cursor:pointer;
    color:white;
    display:block;
    background-color: #808080;
    border:0px solid #808080;
    font-size: 20;
}

#bp_title
{
    font-size: 13pt;
    resize: none;
    border: none;
    background-color: #ffffff;
}

#comment_content
{   
    font-size: 13pt;
    resize: none;
    background-color: #ffffff;  
}
.comment_box{
	
	margin-top:4px;
    border-top: 2px solid #10108f;
    
}
.comment{
	margin-top:4px;
	margin-bottom:6px;
    border-bottom: 0.5px solid #c0c0c0;
}

.comment_write{
	margin-top:0.5rem;
	border-top: 2px solid #10108f;
    border-bottom: 2px solid #10108f;
    
}

.comment_pass{
    margin-top :2px;
}

.comment_id{
    margin-top :4px;
    margin-bottom :0;
}
.comment_id_pass_box{
    position: relative;
    bottom: 1.3em;
    display: inline-block
}

.comment_content{
    width: 1000px; 
	height:100px;
    position: relative;
    top : 15px;
    display: inline-block
}
.comment_submit{
    margin-bottom: 5px;
    position: relative;   
    left: 65rem;
   
}
input[id="comment_submit"]{
    cursor:pointer;
    color:white;
    display:block;
    background-color: #3a3abf;
    border:0px solid #10108f;
    font-size: 15px;
}

.comement_name{
    display: inline-block
}
.comement_text{
    position: relative;
    left: 100px;
    display: inline-block
}
.comement_time{
    position: relative;
    left: 950px;
    display: inline-block
}
.page{

    text-align:center;